* {
    padding: 0;
    margin: 0;
}

body {
	background: rgb(240, 242, 246);
}

.fas {
	margin-right: 8px;
	font-size: 1.25em;
	vertical-align: middle;
}

#main-footer {
	border-top: 1px solid black;
	margin-top: 15px;
	text-align: center;
	padding: 5px 0;
	line-height: 30px;
}

.navbar {
	border-radius: 0;
}

.jumbotron > h1 {
	font-size: 4rem;
}